<% content_for(:title) do %>
    BBCode格式示例
<% end %>
<div class="container">
    <table class="table table-striped table-bordered span8" >
        <% @bbcodes.each do |html| %>
            <tr>
                <td><%= html %></td><td><%= format(html) %></td>
            </tr>
        <% end %>
    </table>

</div>