<% content_for(:title) do %>
    Textitle格式示例
<% end %>

<div class="container">

    <table class="table table-striped table-bordered span8">
        <% @textiles.each do |html| %>
            <tr>
                <td><%= html %></td><td><%= format(html) %></td>
            </tr>
        <% end %>
    </table>

</div>