<div class="reply">
    <%= form_for([article, comment]) do |f| %>
        <div class="field">
            <%= f.hidden_field :parent_id, :value => params[:parent_id] %>
            <%= f.text_area :body %>
        </div>
        <div>
          <%= f.submit("回复", :disable_with => '请稍等...', :class => "btn btn-primary") %>
        </div>
    <% end %>
</div>

