<% content_for(:title) do %>
    <%= @user.nick_name %>的标签
<% end %>

<% content_for(:head) do %>
    <style type="text/css">
        ul.tag li{
            display:inline;
            float:left;
            padding-bottom: 10px;
            padding-left:10px;
        }
    </style>
<%end%>
    
<div class="container">
    <ul class="tag span8">
        <% @tags.each do |tag| %>
            <li>
                <%= link_to tag.name, user_tag_path(@user, tag) %>
            </li>
        <% end %>
    </ul>
</div>